.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    @include respond-to(ms) {
        height: 50px;
    }
    @include respond-to(xs) {
        height: 40px;
    }
}

.icon {
    width: inherit;
    height: inherit;
    object-fit: contain; 
}