$color-base: #d2acff;
$color-blackout: #999;
$color-opacity: rgba(0, 0, 0, 0.7);

$color-completed: hsl(140, 25%, 30%);
$color-fail: hsl(0, 35%, 35%);
$color-active: hsl(270, 100%, 50%);

$trasition-color: color .3s ease-in-out;
$trasition-transform: transform .3s ease-in-out;