body {
  font-family: "BigShoulders", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .5px;
  color: #fff;
  background: #000;
}

.container {
    margin: 0 auto;
    padding: 0 100px;
    max-width: 1024px;
}