.container {
    @include bg($url: "@/assets/backgrounds/bg_form-1.png");
    padding: 50px;
    max-width: 600px;
    width: 100%;
}

.form {
    @include flex($fd: column);
}

.btn {
    align-self: flex-start;
}