.note {
    position: relative;
    width: 100%;
}

.content {
    @include flex($fd: column, $jc: center, $ai: flex-start);
    padding: 20px 30px;
    height: 100%;
}

.time {
    @include flex($jc: space-between);
    margin: 0 0 15px 0;
    width: 100%;
}

.countdown {
    @include flex($jc: flex-end);
    width: 100%;
    @include respond-to(ms) {
        width: auto;
    }
}

.title, .descr {
    @include flex($ai: flex-start);
}

.title {
    margin: 0 0 10px 0;
}

.titleSpan, .descrSpan {
    @include font-todo-span;
}

.titleSpan {
    margin: 0 62px 0 0;
    @include respond-to(sm) {
        margin: 0 54px 0 0;
    }
}

.descrSpan {
    margin: 0 10px 0 0;
}

.titleText, .descrText {
    text-align: left;
}

.titleText, .descrText {
    @include font-todo-text($color: inherit);
}

.descrText {
    @include font-todo-text($color: $color-blackout);
}
